.example
  padding-top: 212px
  padding-bottom: 154px
  &__item
    display: flex
    .text
      position: relative
      &__title
        font-size: 35px
        margin-bottom: 31px
      &__subtitle
        font-size: 25px
        font-weight: 400
    &-one
      justify-content: flex-end
      margin-bottom: 473px
      .text
        max-width: 625px
        &::before
          content: url(../img/example/example1.png)
          position: absolute
          top: -115px
          left: -503px
    &-two
      justify-content: flex-start
      .text
        max-width: 658px
        &::after
          content: url(../img/example/example2.png)
          position: absolute
          top: -338px
          right: -455px  

@media (max-width: 1199px)
  .example
    &__item
      &-one
        .text
          max-width: 580px
          &::before
            z-index: -1           
            left: -402px
      &-two
        .text
          max-width: 650px
          &::after
            z-index: -1            
            right: -330px

@media (max-width: 992px)
  .example
    &__item
      &-one
        .text
          max-width: 580px
          &::before
            left: -235px
      &-two
        .text
          max-width: 650px
          &::after
            right: -89px

@media (max-width: 778px)            
  .example
    &__item
      &-two
        .text
          &::after
            display: none

@media (max-width: 576px)  
  .example
    padding-top: 50px
    padding-bottom: 50px
    &__item
      &-one
        margin-bottom: 50px
        .text
          &::before
            display: none


