.feedback
  padding-top: 105px
  padding-bottom: 145px
  background: #fff
  &-wrap
    display: flex
    justify-content: space-around
    align-items: center
    .img
      max-width: 390px
      margin-right: 20px
      img
        filter: grayscale(100%)
    .text
      max-width: 715px
      color: #282a26
      font-size: 26px
      &__title
        font-weight: 700 
      &__subtitle
        max-width: 375px
        margin-bottom: 36px
      &__descr
        font-style: italic 

@media (max-width: 992px)
  .feedback
    padding-top: 60px
    &-wrap
      flex-direction: column
      align-items: center
      .img
        margin-bottom: 30px
        margin-right: 0
      .text
        text-align: center
        &__subtitle
          max-width: 100%