.header
  padding-top: 257px
  margin-bottom: 47px
  background: url(../img/header/header.jpg) no-repeat 
  background-size: cover
  &__title
    padding-left: 74px
    font-size: 135px
    font-weight: 700
    text-transform: uppercase
  &__subtitle
    max-width: 1038px
    padding-left: 74px
    margin-bottom: 824px
    font-size: 66px
    font-weight: 400
  &__descr
    max-width: 979px
    margin: 0 auto
    margin-bottom: 133px
    font-size: 36px
    font-weight: 400
    text-align: center

@media (max-width: 1200px)
  .header
    padding-top: 10%
    &__subtitle
      margin-bottom: 450px

@media (max-width: 768px)  
  .header
    &__title
      font-size: 15vw 
      padding-left: 30px
    &__subtitle
      font-size: 50px
      padding-left: 30px
    &__descr
      width: 95%
      font-size: 30px

@media (max-width: 576px)  
  .header
    &__descr
      width: 95%
      font-size: 24px
      margin-bottom: 40px
   
