body {
  background-color: #5fb00c;
  font-family: 'TT Norms', sans-serif;
  color: #ffffff;
}

.container {
  width: 90%;
  max-width: 1157px;
  margin: 0 auto;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input, button, textarea {
  outline: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.header {
  padding-top: 257px;
  margin-bottom: 47px;
  background: url(../img/header/header.jpg) no-repeat;
  background-size: cover;
}

.header__title {
  padding-left: 74px;
  font-size: 135px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__subtitle {
  max-width: 1038px;
  padding-left: 74px;
  margin-bottom: 824px;
  font-size: 66px;
  font-weight: 400;
}

.header__descr {
  max-width: 979px;
  margin: 0 auto;
  margin-bottom: 133px;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 1200px) {
  .header {
    padding-top: 10%;
  }
  .header__subtitle {
    margin-bottom: 450px;
  }
}

@media (max-width: 768px) {
  .header__title {
    font-size: 15vw;
    padding-left: 30px;
  }
  .header__subtitle {
    font-size: 50px;
    padding-left: 30px;
  }
  .header__descr {
    width: 95%;
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .header__descr {
    width: 95%;
    font-size: 24px;
    margin-bottom: 40px;
  }
}

.advantages-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 79px;
}

.advantages-wrap .start {
  font-size: 23px;
  font-weight: 400;
}

.advantages-wrap__item .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 316px;
  min-height: 316px;
  margin-bottom: 60px;
  background-color: #2e8c00;
  border-radius: 50%;
}

.advantages-wrap__item .text {
  max-width: 278px;
  font-size: 32px;
  font-weight: 400;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .advantages-wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .advantages-wrap__item {
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .advantages-wrap__item .text {
    font-size: 28px;
  }
}

.feedback {
  padding-top: 105px;
  padding-bottom: 145px;
  background: #fff;
}

.feedback-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-wrap .img {
  max-width: 390px;
  margin-right: 20px;
}

.feedback-wrap .img img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.feedback-wrap .text {
  max-width: 715px;
  color: #282a26;
  font-size: 26px;
}

.feedback-wrap .text__title {
  font-weight: 700;
}

.feedback-wrap .text__subtitle {
  max-width: 375px;
  margin-bottom: 36px;
}

.feedback-wrap .text__descr {
  font-style: italic;
}

@media (max-width: 992px) {
  .feedback {
    padding-top: 60px;
  }
  .feedback-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feedback-wrap .img {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .feedback-wrap .text {
    text-align: center;
  }
  .feedback-wrap .text__subtitle {
    max-width: 100%;
  }
}

.embargo {
  position: relative;
  padding-top: 98px;
  padding-bottom: 132px;
}

.embargo::before {
  content: url(../img/embargo/1.png);
  position: absolute;
  left: 153px;
  top: -83px;
  -webkit-filter: drop-shadow(0 10px 10px rgba(100, 0, 0, 0.5));
          filter: drop-shadow(0 10px 10px rgba(100, 0, 0, 0.5));
}

.embargo-title {
  padding-left: 17px;
  margin-bottom: 25px;
  font-size: 35px;
  font-weight: 700;
}

.embargo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.embargo-wrap__text {
  max-width: 566px;
  font-size: 25px;
  font-weight: 400;
  font-size: 26px;
}

.embargo-wrap__text-1 {
  margin-right: 14px;
}

.embargo-wrap__text-2 {
  max-width: 516px;
}

@media (max-width: 1200px) {
  .embargo {
    padding-bottom: 98px;
  }
  .embargo-title {
    padding-left: 0;
    text-align: center;
  }
  .embargo-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .embargo-wrap__text {
    max-width: 600px;
  }
  .embargo-wrap__text-1 {
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .embargo::before {
    left: 105px;
  }
}

.goods {
  background: url(../img/goods/goods.jpg) no-repeat center/cover;
  min-height: 779px;
}

@media (max-width: 778px) {
  .goods {
    min-height: 80vh;
  }
}

.example {
  padding-top: 212px;
  padding-bottom: 154px;
}

.example__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.example__item .text {
  position: relative;
}

.example__item .text__title {
  font-size: 35px;
  margin-bottom: 31px;
}

.example__item .text__subtitle {
  font-size: 25px;
  font-weight: 400;
}

.example__item-one {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 473px;
}

.example__item-one .text {
  max-width: 625px;
}

.example__item-one .text::before {
  content: url(../img/example/example1.png);
  position: absolute;
  top: -115px;
  left: -503px;
}

.example__item-two {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.example__item-two .text {
  max-width: 658px;
}

.example__item-two .text::after {
  content: url(../img/example/example2.png);
  position: absolute;
  top: -338px;
  right: -455px;
}

@media (max-width: 1199px) {
  .example__item-one .text {
    max-width: 580px;
  }
  .example__item-one .text::before {
    z-index: -1;
    left: -402px;
  }
  .example__item-two .text {
    max-width: 650px;
  }
  .example__item-two .text::after {
    z-index: -1;
    right: -330px;
  }
}

@media (max-width: 992px) {
  .example__item-one .text {
    max-width: 580px;
  }
  .example__item-one .text::before {
    left: -235px;
  }
  .example__item-two .text {
    max-width: 650px;
  }
  .example__item-two .text::after {
    right: -89px;
  }
}

@media (max-width: 778px) {
  .example__item-two .text::after {
    display: none;
  }
}

@media (max-width: 576px) {
  .example {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .example__item-one {
    margin-bottom: 50px;
  }
  .example__item-one .text::before {
    display: none;
  }
}

.sandwich {
  padding-top: 100px;
  padding-bottom: 78px;
  background: #f4ba00;
  text-align: center;
}

.footer {
  position: relative;
  min-height: 152px;
  background: #fff;
}

.footer .text {
  position: absolute;
  left: 67px;
  top: -80px;
  display: block;
  width: 160px;
  height: 160px;
  text-align: center;
  color: #fff;
  padding-top: 65px;
  background: #f4ba00;
  border-radius: 50%;
}

@media (max-width: 576px) {
  .footer .text {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 1199px) {
  .container {
    width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 767px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }
}
/*# sourceMappingURL=style.css.map */