@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Bold.eot');
    src: url('../fonts/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Bold.woff2') format('woff2'),
        url('../fonts/TTNorms-Bold.woff') format('woff'),
        url('../fonts/TTNorms-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Regular.eot');
    src: url('../fonts/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTNorms-Regular.woff2') format('woff2'),
        url('../fonts/TTNorms-Regular.woff') format('woff'),
        url('../fonts/TTNorms-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}